---
layout: default
---

<div class="container-fluid index">
  <div class="row index all-posts">
    <h2 class="header" itemprop="headline"> {{ page.title }} </h2>
    <div class="col-md-12 content-panel articles">
       {{ content }}
    </div>
  </div>
</div>

<div class="footer clearfix">
    <div class="col-md-6">
        Copyright © 2018 by <a href="http://github.com/teonacio" target="_blank">teonacio</a>.
        All rights reserved.<br>Theme by <a href="https://twitter.com/_JacobTomlinson" target="_blank">Jacob
        Tomlinson</a> (<a href="https://github.com/jacobtomlinson/carte-noire" target="_blank"><i class="fa fa-github-alt"></i></a>)
    </div>
    <div class="col-md-6">
        &lt;/&gt; on <a href="https://github.com/teonacio/teonacio.github.io" target="_blank">Github</a> &nbsp;<i class="fa fa-github-alt"></i>
    </div>
</div>